
<!DOCTYPE html>
<html>


<head>

    <meta charset="utf-8">
    <title>Processing Demo</title>

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/earlyaccess/sawarabimincho.css" rel="stylesheet" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.8.0/p5.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.3/addons/p5.dom.min.js"></script>
   <script type="text/javascript" src="https://raw.githubusercontent.com/lmccart/p5.js/master/lib/addons/p5.dom.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> 
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.3/p5.min.js"></script> %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.3/addons/p5.sound.min.js"></script>



    <style type="text/css">
         .test{
        color:rgba(0,0,0,0.4);
        opacity:0.8;}
        #defaultCanvas0{
        position: fixed; /*canvasを固定*/
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        top:0; /*canvasを上に固定*/
        display:block; /* remove scrollbars */
            position: absolute;  /* position at top left corner for overlay */
            z-index: -10;}
    </style>

</head>

<body>
<h1>music.play</h1> 

<div>
<iframe class="test ly" src="<%=@musics[0]['url']%>" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media" style="z-index:-11"></iframe>
</div>



 <script type="text/javascript">


        var GetText="<%= @words[0]['word'] %>";
        var TsizG=40;
        var Tsiz=30;
        var json_words;
        var greet_on=1,greet_count=0;

        // var word_randomX=100,word_randomY=100,word_randomC=60;
        var length=0,music_length=0;
        var input, button, greeting,name;
        var word= "<%= @word %>";
        var music_id="<%= @music_id %>";
        var word_nb=0;


        //>>>>>>>>>>>P5js_new
        var mass = [];
        var positionX = [];
        var positionY = [];
        var velocityX = [];
        var velocityY = [];
        var fr=25;
        var word2=[];
        var i=0;
        var word_out;
        //>>>>>>>>>>>>>>

        let mic;

        var music_on=0,lyrics=0;

        $(function(){
            console.log(music_id);

            $.ajax({ // json読み込み開始
            type: 'GET',
            url: '/getword/'+ word,
            dataType: 'json'
            }).then(
            function(json) { // jsonの読み込みに成功した時
            console.log('成功');
            json_words=json;
            length=json.length;
            },
            function() { //jsonの読み込みに失敗した時
            console.log('失敗');
            }
            );
            
            $.ajax({ // json読み込み開始
            type: 'GET',
            url: '/get_music_word/'+ music_id,
            dataType: 'json'
            }).then(
            function(json) { // jsonの読み込みに成功した時
            console.log('Mid成功');
            json_music_words=json;
            music_length=json.length;
            console.log(json_music_words);
            },
            function() { //jsonの読み込みに失敗した時
            console.log('Mid失敗');
            }
            ); 
        });

        function setup() {
            createCanvas(windowWidth, windowHeight);
            frameRate(fr);
            y = 0.5;
            a = 0, a_1 = 0, a_2 = 0, a_3 = 0, a_4 = 0, a_5 = 0, a_t = 0;
            Rein = 300;
            x_t = random(10, 390);
        
            
            textFont("Sawarabi Mincho");

            textAlign(CENTER);
            textSize(50);



            ///////////////////////////////////
            // noStroke();
            // fill(0, 0, 0, 200);
            i=0;
            //////////////////////////////////




            ///////////////////////////////////
            mic = new p5.AudioIn();
            mic.start();
            fft = new p5.FFT();
            
            ///////////////////////////////////
        }

        function draw() {
            background(0,0,0,240);

            micLevel = mic.getLevel();
            ellipse(width/2, constrain(height-micLevel*height*5, 0, height), 10, 10);



            for (var x = 20; x <= 1300; x = x + Rein) {
                if ((x - 20) / Rein % 2 == 0) {
                    a = a_1;
                }
                if ((x - 20) / Rein % 3 == 0) {
                    a = a_2;
                }
                if ((x - 20) / Rein % 5 == 0) {
                    a = a_3;
                }
                if ((x - 20) / Rein % 7 == 0) {
                    a = a_4;
                }
                if ((x - 20) / Rein % 11 == 0) {
                    a = a_5;
                }

                strokeWeight((a / 40)-micLevel*20);
                fill(30,30,40, 150);
                stroke(100,100,100, 80);
                circle(x-100, a, (a_t - 100)/(1+micLevel*0));
                strokeWeight(0);
                fill(70,70,70, 80);//text_coler
                textSize(Tsiz);
                textStyle(ITALIC);
                console.log("nb"+word_nb);
                text(json_music_words[word_nb]['word'], x_t, a_t);
            }

            if (a_1 > 800) {
                a_1 = -100;
            }
            if (a_2 > 800) {
                a_2 = -100;
            }
            if (a_3 > 800) {
                a_3 = -100;
            }
            if (a_4 > 800) {
                a_4 = -100;
            }
            if (a_5 > 800) {
                a_5 = -100;
            }
            if (a_t > 800) {
                a_t = 0;
                x_t = random(10, 390);
                Tsiz = random(10, 400);

                console.log(word_nb);
                console.log(music_length);
                if(word_nb < (music_length-1)){
                    word_nb+=1;
                    }else{
                    word_nb=0;
                    }

                // TsizG=Tsiz;
            }

            a_1 += 1.5 * y+micLevel*20;
            a_2 += 1.8 * y+micLevel*40;
            a_3 += 2.1 * y+micLevel*60;
            a_4 += 1.1 * y+micLevel*80;
            a_5 += 1.5 * y+micLevel*100;
            a_t += 0.9 * y+micLevel*120;

            // // >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>new_p5js
            for (var particleA = 0; particleA < mass.length; particleA++) {
                var accelerationX = 0,
                    accelerationY = 0;

                for (var particleB = 0; particleB < mass.length; particleB++) {
                    if (particleA != particleB) {
                        var distanceX = positionX[particleB] - positionX[particleA];
                        var distanceY = positionY[particleB] - positionY[particleA];

                        var distance = sqrt(distanceX * distanceX + distanceY * distanceY);
                        if (distance < 1) distance = 1;

                        var force = (distance - 820) * mass[particleB] / distance+micLevel*micLevel*0.05;
                        accelerationX += force * distanceX;
                        accelerationY += force * distanceY;
                    }
                }

                velocityX[particleA] = velocityX[particleA] * 0.99 + accelerationX * mass[particleA];
                velocityY[particleA] = velocityY[particleA] * 0.99 + accelerationY * mass[particleA];
            }

            for (var particle = 0; particle < mass.length; particle++) {
                positionX[particle] += velocityX[particle];
                positionY[particle] += velocityY[particle];

                fill(0);
                stroke(240, 240,240, 200);
                strokeWeight(1+micLevel*1);
                ellipse(positionX[particle], positionY[particle], mass[particle] * 600+micLevel*200, mass[particle] * 600+micLevel*200);
                textSize(15);
                stroke(0, 0, 0, 100);
                fill(200);
                strokeWeight(0);
                text(word2[particle],positionX[particle], positionY[particle]);

                if(particle <music_length){
                    word_out=json_music_words[particle]['word'];
                    // word_out="000000"
                }else{word_out="1111";}
                
                text("__"+word_out,positionX[particle], positionY[particle]);
                stroke(200,200,200, 200);
                strokeWeight(0+micLevel*4);
                line(positionX[particle], positionY[particle],positionX[particle-1],positionY[particle-1]);
                line(positionX[particle], positionY[particle],positionX[particle-2],positionY[particle-2]);
                }

                //////>>>musics_suitch
                if(micLevel>0.0){
                    music_on=1;
                    // if(music_on=1||lyric_on=0){
                    //     addNewParticle_new();                    

                    // }
                }
        ///>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>end-new



        //////////>>>>>>>>>>>>>>>>>stratFFT


        ///////////////>>>>>>>>>>>>>>>endFFT


        }



        function greet() {
        }

        function post_music_id() {
            console.log('music_idがクリックされました！');
            console.log(button.value());
            window.location.href = '/music/'+button.value();
        }



        /////////////////////////////////////////////////////////////////////////////////////////////////////

function addNewParticle() {
    mass.push(random(0.003, 0.03));
    positionX.push(mouseX);
    positionY.push(mouseY);
    velocityX.push(0);
    velocityY.push(0);
    word2.push(0+i);
    i++;
}

function addNewParticle_new() {

    if(i<music_length){
    mass.push(random(0.003, 0.03));
    positionX.push(random(0,windowWidth));
    positionY.push(random(0, windowHeight));
    velocityX.push(0);
    velocityY.push(0);
    word2.push(0+i);
    i++;}
}

/////////////////////////////////////////////////////////////////////////////////////////////////////

function mouseClicked() {
    addNewParticle_new();
}

/////////////////////////////////////////////////////////////////////////////////////////////////////

function mouseDragged() {
    addNewParticle();
}




    $(document).ready(function(){

                $('.ly').hover(function() {

                // $(this).stop().animate({'font-size':'40px'}, 900);
                if(music_on==1){
                addNewParticle_new();
                }

                },function() {

                // $(this).stop().animate({'font-size':'20px'}, 900);

                });

        });





</script>


</body>

</html>