<form action="/new_user" method="POST">
 <label for="name">name：</label>
  <input type="text" name="name" id="name" />
  <label for="content">pass：</label>
  <input type="text" name="pass" id="content"/>
  <input type="submit" value="request">
</form> 


